
$fontPop: 'Poppins', sans-serif;
$fontMon: 'Montserrat', sans-serif;
@mixin center {
     justify-content: center;
     align-items: center;
}
html{
     font-size: 10px;
}



.bg{
     z-index: -1;
     width: 100%;
     position: absolute;
     margin: 0 0;
     height: auto;
}
.brand{
     display: flex;
     flex-direction: column;
     
}
.brand a{
     width: 16rem;
     margin-top: 10rem;
     color: #69696a;
     font-family: "Times New Roman PSMT";
     text-transform: uppercase;
     font-weight: 400;
     font-size: 3.3rem;
     margin-left: 15rem;
     &:hover{
          text-decoration: none;
          color: #69696a;
     }
}
.brand p{
     color: #dfe5e9;
     font-family: $fontPop;
     font-size: 2.2rem;
     font-weight: 400;
     letter-spacing: 4.4px;
     cursor: default;
     margin-left: 15rem;
     &:hover{
          text-decoration: none;
          color: #dfe5e9;
     }
}
.headslider{
     margin-top: 24.5rem;
     display: flex;
     flex-direction: column;
     width: 55rem;
     margin-left: 15rem;
}
.headslider__items h1{
     color: #79796a;
     font-family: fontMon;
     font-size: 4.5rem;
     font-weight: 300;
}
.headslider__items h2{
     color: #044c85;
     font-weight: 400;
     font-family: $fontPop;
     font-size: 6rem;
}
.headslider__items p{
     color: #79796a;
     font-family: "Montserrat - Extra Light";
     font-weight: 400;
     font-size: 1.9rem;
     letter-spacing: 1.33px;
}


.slick-dots li button{
     border-radius: 50%;
     border: 4px solid #bfbfbf;
}
.slick-dots li button:before{
     content: '';
     

}
.slick-dots li.slick-active button:before{
     height: 3px;
     width: 3px;
     border-radius: 50%;
     border: 4px solid #5134db;
     opacity: 1;
     top: 50%;
     left: 50%;
     margin: -4px 0 0 -4px;
     
     
}
.slick-dots li.slick-active button{
  
     border-radius: 50%;
     border: 4px solid #5134db;
     
}


.btn2down{
     width: 13rem;
     height: 13rem;
     border-radius: 50%;
     background-image: linear-gradient(-218.04deg, #6048ff 0%, #7315f0 100%);
     position: absolute;
     top: 80%; 
     left: auto;
     right: auto;
     right: 50%; 
     display: flex;
     flex-direction: column;
     @include center();
     box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.companies{
     margin-top: 65rem;
     display: flex;
     justify-content: space-between     
     
}
.companies__items{
     height: 10rem;
     width: 25rem;
     border-radius: 50px;
     background-color: #f4f6f7;
     cursor: pointer;
     display: flex;
     @include center();
     box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.10);
     &:hover{
          background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
     }
}


.companies__items img{
     width: 20rem;
}
.buzy{
     margin-top: 20rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.buzy h1{
     color: #6337ff;
     font-family: $fontMon;
     font-size: 4.5rem;
     font-weight: 300;
}
.buzy p{
     color: #000000;
     font-size: 2.2rem;
     font-family: $fontPop;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 8.8px;
     margin-top: 2rem;
}
.pips{
     margin-top: 10rem;
     display: flex;
     @include center()
}
.pips p{
     color: #79796a;
     font-family: $fontPop;
     font-weight: 300;
     font-size: 1.7rem;
     line-height: 4.3rem;
     display: flex;
     text-align: end;

}
.pips a{
     width: 37rem;
     height: 8.3rem;
     box-shadow: 0 0 5px 1px rgba(191, 191, 255, 0.85);
     background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
     border-radius: 50px;
     display: flex;
     @include center();
     color: #ffffff;
     font-family: $fontPop;
     text-transform: uppercase;
     font-size: 1.2rem;
     letter-spacing: 1.8px;
     margin-top: 13rem;
     &:hover{
          text-decoration: none
     }
}
.slider{
     width: 100%;
     display: flex;
     justify-content: center
}
.mainslider{
     display: flex;
     @include center();
     width: 71rem;


}

.slick-prev:before, .slick-next:before{
     content: ''
}
.slick-prev:before{
     background-image: url('../../img/left.png');
}
.slick-next:before{
     background-image: url('../../img/right.png');
}

.slick-arrow{
     width: 6.8rem;
     height: 12.8rem;
     background-color: #000;
}
.companies__{
     display: flex;
     justify-content: space-between;
     margin-top: 9rem;
}

.news{
     display: flex;
     flex-direction: column;
     @include center();
     margin-top: 20rem;
     
}
.news h1{
     font-family: $fontPop;
     color: #044c85;
     font-size: 6rem;
     font-weight: 400;
     text-transform: uppercase;
     line-height: 72px;
}
.news p{
     color: #79796a;
     font-weight: 300;
     font-size: 1.7rem;
     font-family: $fontPop;
     text-align: center;
     margin-top: 2rem;
     width: 80%;
     letter-spacing: 1.33px;
}
.subform{
     margin-top: 8rem;
     display: flex;
     @include center()
}
.form{
     display: flex;
     box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.46);
     border-radius: 50%
}
#email{
     border-top-left-radius: 75px;
     border-top-right-radius: 0px;
     border-bottom-left-radius: 75px;
     border-bottom-right-radius: 0px;
     width: 35rem;
     height: 5rem;
     font-family: $fontPop;
     font-size: 2rem;
}
#submit{
     border-top-left-radius: 0px;
     border-top-right-radius: 75px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 75px;
     background-image: linear-gradient(-255.29deg, #6048ff 0%, #782fe2 100%);
     width: 12rem;
     height: 5rem;
     font-family: $fontPop;
     font-size: 1.3rem;
     color: #fff;
     font-weight: 400;
     text-transform: uppercase;
     box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.46);
}
.soc{
     display: flex;
     @include center();
     margin-top: 7rem;
     
    
}
.soc i{
     height: 4.3rem;
     width: 4.3rem;
     border-radius: 50%;
     border: 3px solid #cacad9;
     display: flex;
     @include center();
     font-size: 1.8rem;
     color: #cacad9;
     margin: 5px 5px;
     cursor: pointer;
     &:hover{
          border: 3px solid #7530e4;
          color: #7530e4;
     }
}
.nav{
     display: flex;
     margin-top: 10rem;
     justify-content: space-around;
}
.nav li{
     color: #aaaaaa;
     font-size: 1.6rem;
     font-family: $fontPop;
     text-transform: uppercase;
     letter-spacing: 1.6px;
     cursor: pointer;
     font-weight: 700;
     &:hover{
          color: #000
     }
}
footer{
     width: 100%;
     display: flex;
     @include center();
     margin-top: 8rem;
}
footer p{
     text-transform: uppercase;
     font-family: $fontMon;
     font-weight: 400;
     font-size: 1.6rem;

}

@media(max-width: 1200px){
     html{
          font-size: 8px;
     }
     .brand a {
          margin-left: 9rem;
     }
     .brand p {
          margin-left: 9rem;
     }
     .headslider{
          margin-left: 9rem;
          width: 50rem;
          margin-top: 13rem;
     }
     .companies{
          margin-top: 50rem;
     }
     
}
@media(max-width: 992px){
     html{
          font-size: 7px;
     }
     .headslider{
         margin-top: 10rem;
         width: 42rem;
     }
     .btn2down{
          top: 50%
     }
     .pips p{
          text-align: center;
          width: 100rem;
          margin-top: 2rem;
          font-size: 1.9rem;
     }
}
@media(max-width:768px){
     html{
          font-size: 6px;
     }
     .headslider{
         margin-top: 10rem;
         width: 42rem;
     }
     .btn2down{
          top: 45%;
          display: none;
     }
     .companies{
          justify-content: space-around;
     }
     .companies__{
          justify-content: space-around;
     }
     .companies__items{
          margin-top: 7px;
     }
     .pips p{
          text-align: center;
          width: 100rem;
          margin-top: 2rem;
          font-size: 1.9rem;
     }
}
@media(max-width:576px){
     html{
          font-size: 5px;
     }
     .btn2down{
          top: 30%;
          display: none;
          
     }
     .companies{
          margin-top: 25rem;
     }
     .mainslider{
          width: 100%;
     }
     .headslider__items h1{
          font-size: 3rem;
     }
     .headslider__items h2{
          font-size: 4rem;
     }
     .headslider__items p{
          font-size: 1.2rem;
     }
     .headslider{
          margin-top: 7rem;
          width: 32rem;
      }
      
}
