$Source: 'Source Sans Pro', sans-serif;
@mixin center{
   justify-content: center;
   align-items: center;
}

header{
   background-image: url('../../img/bg.png');
   height: 751px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   

}
.navigate{
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
}
  
   


.logo{
   font-size: 35px;
   font-weight: 400;
   text-transform: uppercase;
   font-family: $Source;
   color: #ffffff;  
}
.logo:hover{
   text-decoration: none;
   color: #ffffff;
}
.navi{
   width: 540px;
   display: flex;
   justify-content: space-between;
   align-items: center
}
.navi__item{
   font-size: 16px;
   font-family: "Open Sans";
   color: #ffffff;
   font-weight: 400;
   height: 33px;
   width: 80px;
   display: flex;
   @include center()
  
}
.navi__item:hover{
   text-decoration: none;
   color: #ffffff;
   border: 1px solid #ffffff;
   border-radius: 17px;

}
.banner{
   display: flex;
   flex-direction: column;
   height: 100%;
   @include center();
   margin-top: 130px;
}
.banner__title{
   text-align: center;
   font-family: $Source;
   font-size: 35px;
   text-transform: uppercase;
   font-weight: 300;
   line-height: 70px;
   color: #ffffff;
   letter-spacing: 7px;
}
.banner__text{
   letter-spacing: 2px;
   font-family: "Open Sans";
   color: #ffffff;
   font-weight: 400;
   text-align: center;
   font-size: 16px;
   line-height: 28px;
}
.ipad{
   margin-top: 100px;
}
.ipad__{
   display: flex;
   flex-direction: column;
}
.ipad__title{
   font-family: $Source;
   color: #333b46;
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 4px;
   text-transform: uppercase;
   line-height: 12px;
   margin-bottom: 50px;
   margin-top: 58px;
}
.ipad__text{
   color: #81868e;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.7px;
   margin-bottom: 33px;
}
.ipad__btn{
   width: 140px;
   height: 37px;
   border-radius: 19px; 
   border: 1px solid #333b46;
   display: flex;
   @include center();
   color: #333b46;
   font-size: 16px;
   font-weight: 400;
}
.ipad__btn:hover{
   text-decoration: none;
   background-color: #19bd9a;
   color: #fff;
}
.detalis{
   display: flex;
   flex-direction: column;
   background-color: #f3f3f3;
   align-items: center;
}
.detalis__title{
   color: #333b46;
   font-family: $Source;
   font-size: 20px;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin-top: 80px;
   margin-bottom: 41px;
}
.detalis__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   letter-spacing: 0.7px;
   text-align: center;
  
}
.detalis__icons{
   display: flex;
   width: 213px;
   justify-content: space-between;
   margin-top: 60px;
}
.detalis__heart{
   height: 53px;
   width: 53px;
   border-radius: 50%;
   background-color: #81868e;
   display: flex;
   @include center();
}
.detalis__heart:hover{
   background-color: #19bd9a;
}
.ideas{
   background-color: #f3f3f3;
   

}
.ideas__title{
   margin-top: 76px;
   font-family: "Open Sans";
   color: #464646;
   font-size: 20px;  
   font-weight: 400;
   letter-spacing: 0.8px;
   margin-bottom: 39px;
}
.ideas__text{
   font-family: "Open Sans";
   font-size: 16px;
   letter-spacing: 0.8px;
   font-weight: 400;
   color: #81868e;
}
.ideas__text2{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.8px;
   margin-top: 134px;
   margin-bottom: 100px;
}
.project{
   display: flex;
   @include center();
   flex-direction: column;
}
.project__title{
   color: #333b46;
   font-family: $Source;
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 4px;
   margin-top: 80px;
}
.project__text{
   font-family: "Open Sans";
   font-size: 14px;
   color: #81868e;
   font-weight: 400;
   letter-spacing: 0.7px;
   margin-top: 21px;
   margin-bottom: 61px;
   text-align: center
}
.submit{
   height: 113px;
   background-color: #30bda1;
   background-image: url('../../img/submit.png');
   background-repeat: no-repeat;
   background-size: cover; 

}
.submit__{
   display: flex;
   flex-direction: column;
   align-items: center
}
.submit__text{
   color: #ffffff;
   font-family: "Open Sans";
   letter-spacing: 0.8px;
   font-size: 20px;
   font-weight: 400;
}
.submit__btn{
   width: 140px;
   height: 37px;
   display: flex;
   @include center();
   color: #ffffff;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   line-height: 12px;
   border-radius: 19px;
   border: 1px solid #ffffff;
}
.submit__btn:hover{
   opacity: 0.75;
   text-decoration: none;
   color: #fff;
}
aside{
   background-color: #f3f3f3;
   margin-bottom: 100px;

}
.service{
   @include center();
   display: flex;
   flex-direction: column;
   
}
.service__title{
   color: #333b46;
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-family: "Open Sans";
   margin-bottom: 21px;
   margin-top: 81px;
}
.service__text{
   font-size: 14px;
   color: #81868e;
   letter-spacing: 0.7px;
   font-family: "Open Sans";
   font-weight: 400;
   text-align: center
}
.graphic{
   display: flex;
   margin-top: 61px;
}
.graphic__items{
   display: flex;
   flex-direction: column;
   
}
.graphic__items__{
   margin-bottom: 17px;
}
.graphic__text{
   display: flex;
   flex-direction: column;
   margin-left: 44px;
}
.graphic__text__title{
   color: #464646;
   font-family: "Open Sans";
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 0.8px;
   margin-bottom: 34px;
}
.graphic__text__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.8px;
}
.procent{
   display: flex;
   justify-content: space-around;
   align-items: center
}
.procent__{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.procent__text{
   font-family: Roboto;
   color: #81868e;
   font-size: 16px;
   font-weight: 300;
   letter-spacing: 0.8px;
   margin-top: 25px;
}
.impress{
   display: flex;
   justify-content: flex-end;
}
.impress__{
   display: flex;
   flex-direction: column;
   background-image: url('../../img/back.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 392px;
   width: 100%;
   margin-top: 137px;
   @include center()
}
.impress__title{
   color: #f3f3f3;
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-family: $Source;
}
.impress__text{
   max-width: 596px;
   font-family: "Open Sans";
   color: #b2b3b3;
   font-weight: 400;
   letter-spacing: 0.8px;
}
.impress__author{
   color: #b2b3b3;
   font-size: 14px;
   font-weight: 400;
   font-family: "Open Sans";
}
.portfolio{
   display: flex;
   @include center();
   flex-direction: column;
}
.portfolio__title{
   color: #333b46;
   font-size: 20px;
   font-family: $Source;
   font-weight: 300;
   letter-spacing: 4px;
   margin-top: 180px;
   margin-bottom: 21px;
}
.portfolio__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   letter-spacing: 0.7px;
   text-align: center
}
.works{
   display: flex;
   justify-content: center;
   margin-top: 81px;
}
.worksmenu{
   display: flex;
   justify-content: space-between;
}
.worksmenu__item{
   color: #464646;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   height: 29px;
}
.worksmenu__item:hover{
   text-decoration: none;
   color: #464646;
   border-bottom: 1px solid #19bd9a;
}
.imgs{
   margin-top: 40px;
   display: flex;
   
}
.imgs__item{
   margin-bottom: 13px;
}
.start{
   height: 300px;
}
.start__{
   background-color: #19bd9a;
   background-image: url('../../img/startimg.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 201px;
   margin-top: 27px;
   display: flex;
   @include center();
   flex-direction: column;
   margin-bottom: 100px;
}
.start__text{
   color: #ffffff;
   font-family: "Open Sans";
   font-size: 20px;
   font-weight: 400;
   text-align: center
}
.start__btn{
   width: 140px;
   height: 37px;
   border-radius: 19px;
   border: 1px solid #ffffff;
   color: #fff;
   display: flex;
   @include center()
}
.start__btn:hover{
   text-decoration: none;
   color: #fff;
   opacity: 0.75;
}
.team{
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   @include center()
}
.team__title{
   color: #333b46;
   font-family: $Source;
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 4px;
}
.team__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.7px;
   text-align: center;
   margin-top: 21px;
}
.teamslider__{
   margin-top: 62px;
}
.teamslider__stats{
   display: flex;
   align-items: flex-end;
   flex-direction: column;

}
.stats__procent{
   margin-bottom: 36px;
}
.stats__title{
   color: #464646;
   font-family: "Open Sans";
   font-size: 20px;  
   font-weight: 400;
   letter-spacing: 0.8px;
}
.stats__text{
   color: #81868e;
   font-family: $Source;
   font-weight: 300;
   font-style: italic;
   text-align: end;
   margin-bottom: 32px;
}
.teamslider{
   display: flex;
   flex-direction: column;
   @include center()
}
.teamslider__btn{
   display: flex;
   width: 50px;
   justify-content: space-between;
}
.slider__btn{
   height: 10px;
   width: 10px;
   border: 1px solid #19bd9a;
   border-radius: 50%;
   margin-top: 61px
}
.loved{
   background-image: url('../../img/loved.png');
   background-color: #000;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   @include center();
   height: 201px;
   margin-top: 100px;
   flex-direction: column;
}
.loved__text{
   color: #ffffff;
   font-family: "Open Sans";  
   font-weight: 400;
   letter-spacing: 0.8px;
   line-height: 25px;
 
}
.loved__btn{
   width: 140px;
   height: 37px;
   border-radius: 19px;
   border: 1px solid #ffffff;
   color: #fff;
   display: flex;
   @include center();
   margin-top: 29px
}
.loved__btn:hover{
   color: #fff;
   text-decoration: none;
   opacity: 0.75;
}
section{
   background-color: #f3f3f3;
  
}
.testimonials{
   display: flex;
   @include center();
   flex-direction: column;
}
.testimonials__title{
   margin-top: 80px;
   color: #333b46;
   font-family: $Source;
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 4px;
}
.testimonials__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.7px;
   text-align: center;
   margin-top: 21px;
}
.faceslider{
   display: flex;
   @include center();
   flex-direction: column
}
.faceslider__{
   background-color: #fff;
   margin-top: 60px;
}
.face__img{
   display: flex;
   justify-content: flex-end;
   margin-top: 55px
}
.face__info{
   display: flex;
   flex-direction: column;
   margin-top: 55px

}
.face__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.8px;
}
.face__name{
   color: #19bd9a;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.64px;
}
.face__name__{
   color: #464646;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.56px;
}
.faceslider__btn{
   background-color: #fff;
   display: flex;
   @include center()
}
.faceslider__btn__{
   width: 50px;
   display: flex;
   justify-content: space-between;
   

}
.btn__face{
   height: 10px;
   width: 10px;
   border: 1px solid #19bd9a;
   border-radius: 50%;
   margin-top: 61px;
   margin-bottom: 60px
}
.newsbg{
   margin-top: 100px;
   background-image: url('../../img/newsbg.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 691px;
   display: flex;
   flex-direction: column;
   
}
.newslate{
   margin-top: 80px;
   display: flex;
   flex-direction: column;
}
.newslate__title{
   font-size: 20px;
   font-family: $Source;
   font-weight: 300;
   letter-spacing: 4px;
   color: #ffffff;
}
.newslate__text{
   color: #b2b3b3;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   margin-top: 41px;
}
.trand{
   margin-top: 103px;
}
.tranding__title{
   color: #e1e4e9;
   font-family: "Open Sans";
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 0.8px;
   text-transform: uppercase;
}
.tranding__by{
   color: #19bd9a;
   font-family: $Source;
   font-style: italic;
   text-transform: uppercase;
   letter-spacing: 1.4px;
}
.tranding__like{
   color: #464646;
   font-size: 14px;
   font-weight: 300;
   font-family: $Source;
   letter-spacing: 1.4px;
}
.tranding__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.7px;
   margin-top: 60px;
}
.price{
   display: flex;
   flex-direction: column;
   @include center();
   margin-top: 80px;
}
.price__title{
   color: #333b46;
   font-family: $Source;
   font-size: 20px;
   text-transform: uppercase;
   letter-spacing: 4px;
}
.price__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.7px;
   margin-top: 21px;
   text-align: center
}

.shop{
   display: flex;
   justify-content: space-around;
   margin-top: 61px;
}
.product{
   height: 302px;
   background-color: #fff;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 250px;
   cursor: pointer;
   margin-bottom: 100px;
}
.product__name{
   height: 67px;
   background-color: #19bd9a;
   width: 250px;
   display: flex;
   @include center();
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: "Open Sans";
   letter-spacing: 0.8px;

}
.product__cost{
   color: #1fbba6;
   font-family: $Source;
   font-size: 42px;
   font-weight: 400;
   margin-top: 67px;
}
.product__month{
   font-family: "Open Sans";
   color: #81868e;
   font-size: 20px;
   font-weight: 400;
}
.sub{
   background-image: url('../../img/bgsub.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 378px;
   display: flex;
   flex-direction: column;
   @include center();
}
.sub__{
   display: flex;
   flex-direction: column;
   @include center();
}
.sub__title{
   color: #ffffff;
   font-size: 20px;
   font-family: $Source;
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin-bottom: 43px;
}
.sub__text{
   color: #81868e;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.7px;
   text-align: center
}
.subform{
   display: flex;
   @include center();
   margin-top: 61px;
   
}
.subform__input{
   width: 358px;
   height: 41px;
   background: rgba(255, 255, 255, 0);
   color: #fff;
   border: 1px solid #d8dce0;
   padding: 10px;

}
.subform__btn{
   width: 151px;
   height: 41px;
   background-color: #19bd9a;
   color: #ffffff;
   font-family: "Open Sans";
   font-weight: 400;
   text-transform: uppercase;
   display: flex;
   @include center();
   margin-left: 2px;
   border: 1px solid #d8dce0;
}
.contact{
   display: flex;
   justify-content: space-around;
   margin-top: 61px;
}
.contact__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 272px;
   width: 287px;
   box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
   background-color: #ffffff;
   margin-bottom: 100px;
}
.contact__img1{
   background-image: url('../../img/contact1.png');
   height: 145px;
   width: 287px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   @include center();
   color: #fff;
   font-size: 50px;
}
.contact__img2{
   background-image: url('../../img/contact2.png');
   height: 145px;
   width: 287px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   @include center();
   color: #fff;
   font-size: 50px;
}
.contact__img3{
   background-image: url('../../img/contact3.png');
   height: 145px;
   width: 287px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   @include center();
   color: #fff;
   font-size: 50px;

}
.contact__title{
   color: #464646;
   font-family: "Open Sans";
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase; 
   letter-spacing: 0.64px;
   margin-top: 30px;
   margin-bottom: 25px;
 
}
.contact__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.7px;
   margin: 0;
}
.now{
   display: flex;
   flex-direction: column;
   margin-top: 80px;
   background: #fff;
   align-items: center
  
}
.now__forms{
   display: flex;
   justify-content: space-between;
}
.form__items{

   height: 41px;
   border: 1px solid #d8dce0;
}
.now__area{
   margin-top: 29px;
   
}
.area__item{

   height: 190px;
   border: 1px solid #d8dce0;
   padding: 0px
}
.now__btn{
   background-color: #19bd9a;
   height: 53px;
   width: 920px;  
   color: #ffffff;
   font-size: 16px;
   font-family: "Open Sans";
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 0.16px;
   margin-bottom: 129px;
   padding: 0;
   margin-top: 27px;
   display: flex;
   @include center()
}
.now__btn:hover{
   color: #fff;
   text-decoration: none;
   opacity: 0.75;
}
footer{
   background-color: #f3f3f3;
   height: 290px;
   display: flex;
   flex-direction: column;
   @include center()
}
.foot__title{
   color: #323a45;
   font-size: 25px;
   font-family: $Source;
   font-weight: 400;
   margin-bottom: 24px;
}
.foot__text{
   color: #81868e;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 0.7px;
   margin-bottom: 37px;
}
.foot__icons{
   display: flex;
   width: 170px;
   justify-content: space-around
}
.foot__icons img{
   cursor: pointer;
}
.navi_hiden{
   display: none;
   position: absolute;
   z-index: 2;
   flex-direction: column;
   align-items: center

}
.hiden__items{
   display: flex;
   height: 30px;
   font-size: 16px;
   font-family: "Open Sans";
   color: #ffffff;
   font-weight: 400;
   border: 1px solid #ffffff;
   border-radius: 17px;
   width: 250px;
   display: flex;
   @include center();
   margin-bottom: 5px;
   background-color:#464646;
   

}
.toggleClick{
   display: flex;
}
.hiden__items:hover{
   text-decoration: none;
   color: #ffffff;
   opacity: 0.75;
}
.hiden__btn{
   display: flex;
   @include center()
}
.navi__hiden__btn{
   border: 1px solid #ffffff;
   border-radius: 17px;
   height: 30px;
   margin-bottom: 5px;
   display: none;
   @include center();
   width: 250px;
   font-size: 16px;
   font-family: "Open Sans";
   color: #ffffff;
   font-weight: 400;
}
.navi__hiden__btn:hover{
   color: #ffffff;
   text-decoration: none;
   opacity: 0.75;
}

@media(max-width:992px){
   .form__items{
      width: 230px;
   }
   .now__btn{
      width: 682px;
   }
   .ipad__img{
      display: flex;
      justify-content: center;
      margin-top: 20px;
   }
   .imgs{
     display: flex;
     @include center();
      flex-direction: column
      
   }
   .imgs__culumn{
      display: flex;
      @include center();
       flex-direction: column
   }
   .procent{
      margin-top: 20px;
   }
   .navi__hiden__btn{
      display: none;
   }
}
@media(max-width:768px){
   .stats__text{
      text-align: center
   }
   .face__img{
      justify-content: center
   }
   .now__forms{
      flex-direction: column;
      align-items: center;
   }
   .form__items{
      width: 50%;
      margin-bottom: 10px;
   }
   .navigate{
      flex-direction: column;
      @include center()
   }
   .logo{
      display: flex;
      @include center()
   }
   .now__btn{
      width: 500px;
   }
   .teamslider__stats{
      margin-top: 21px;
   }
  
}
@media(max-width:576px){
   .subform{
      flex-direction: column;
      align-items: center
   }
   .subform__btn{
      margin-top: 10px;
   }
   .navi{
      display: none;
   }
   .now__btn{
      width: 300px;
   }
   .navi__hiden__btn{
      display: flex;
   }
   .procent{
      flex-direction: column;
      align-items: center
   }
   .worksmenu{
      flex-direction: column;
      align-items: center
   }
   .subform__input{
      width: 300px;
   }
}
